/*import general styles, margin resets, custom colors, font sizes, button styles, etc.*/
@import "general.css";

/*--------------------------------------------------------------------------------------*/
/* Header general/layout style */
.header-content
{
    display: flex;
    flex-direction: column-reverse;
}


/*-------------------------------------------*/
/* Header landing content */
.landing-content
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 3rem;
}

.landing-content-text
{
    grid-column: 1 / 2;
    align-self: center;
    margin-left: 30%;
    margin-right: 5%;
}

.landing-content-buttons
{
    margin-top: 2em;
}

.landing-content-buttons button:first-child
{   
    margin-right: 1em;
}

.landing-content-image
{
    grid-column: 2 / 3;

    width: 80%;
    aspect-ratio: 1;
    height: auto;
    min-width: 35rem;
    object-fit: cover;

    border-radius: 50%; 
    transform: rotate(5.71deg);
    box-shadow: -1.5em 1.5em var(--yellow-color);
}


/*-------------------------------------------*/
/* Landing content font styles */
.landing-content-buttons button
{
    font-weight: 300;
}


/*-------------------------------------------*/
/* Header bar */
.header-bar
{
    margin: -2rem 8rem 0 8rem;
}

.header-bar ul
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.header-menu-icon
{
    justify-self: start;
    align-self: center;

    margin-left: 0.6rem;
    margin-right: 1rem;
}

.header-menu-icon a 
{
    padding: 1rem 1.5rem;

    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 70px;
}

.header-menu-icon a:hover
{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.header-logo
{
    justify-self: center;
    align-self: center;
}

.header-login-and-shop
{
    display: flex;
    flex-direction: row;

    justify-self: end;
    align-self: center;    
}

.header-login-and-shop a
{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 2rem;
    white-space: nowrap;
}

.header-login-and-shop a:first-child i
{
    margin-right: 0.2rem;
}

.header-login-and-shop a:last-child i
{
    margin-right: 0.1em;    
}


/*-------------------------------------------*/
/* header font styles */
header a
{
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--medium-gray-color);

    padding: 0.3rem;
}


/*-------------------------------------------*/
/* Header icon sizes and colors*/
.header-menu-icon a i
{
    font-size: 1.5em;
    color: var(--medium-gray-color);
}

.header-login-and-shop a:first-child i
{
    font-size: 1.8em;
    color: var(--medium-gray-color);
}

.header-login-and-shop a:last-child i
{
    font-size: 1.5em;
    color: var(--medium-gray-color);
}

/*----------------------------------------------------------------------------------------------------------------*/
/* shopping cart dropdown general/layout style*/
.shopping-cart
{
    position: relative;
}

.shopping-cart-dropdown
{
    position: absolute;
    right: 0.5em;  

    margin-top: 1em;
    padding: 0.5em 2em;

    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.25);
    background: white;

    opacity: 0;
    pointer-events: none;
    transform: translateY(1em);
    transition: all 0.4s ease;
}

.shopping-cart-dropdown h4
{
    color: black;
}

.shopping-cart-dropdown ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    list-style: none;
}

/*-------------------------------------------*/
/* "arrow" at the top of dropdown menu*/
.shopping-cart-dropdown ul::after
{    
    content: "";
    position: absolute;

    width: 0;
    height: 0;
    top: 0;
    right: 0.6em;

    border: 0.7em solid black;
    border-color: white white transparent transparent;
    
    transform-origin: 0 0;
    transform: rotate(-45deg);
    
    box-shadow: 1px -4px 6px  rgba(0, 0, 0, 0.11);
    clip-path: inset(-1px -4px 0 0);
}

/*-------------------------------------------*/
/* dropdown menu item layout and styles*/
.shopping-cart-dropdown ul li
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    column-gap: 1em;

    margin: 0.5em 0;
}

.shopping-cart ul li picture
{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.shopping-cart img
{
    border-radius: 6px;
    object-fit: cover;
}

.shopping-cart ul li p
{
    grid-column: 2 / 3;

    white-space: nowrap;

    color: black;
}

.cart-item-title
{
    grid-row: 1 / 2;
    align-self: start;

    font-size: 1rem;
    font-weight: bold;
}

.cart-item-info-text
{
    grid-row: 2 / 3;
    align-self: start;
}

.cart-item-info-text p
{
    font-size: 0.8rem;
}

.shopping-cart ul li a
{
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    justify-self: end;
    align-self: start;
}

.cart-item-price,
.cart-item-quantity
{
    font-weight: bold;
}

.shopping-cart-dropdown input[type="submit"]
{
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

/*-------------------------------------------*/
/* on click dropdown */
.shopping-cart a:focus + .shopping-cart-dropdown,
.shopping-cart-dropdown:hover
{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}


/*----------------------------------------------------------------------------------------------------------------*/
/* Delivery info general/layout style*/
.delivery-info
{
    display: flex;
    list-style: none;
    width: fit-content;

    margin: 0 2rem;
    margin-top: -3%;
    padding: 1.5rem 1.5rem 1.5rem 5.5rem;

    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.delivery-info li
{
    flex: 1;
    display: inline-flex;
    justify-content: center;
}

.delivery-info li svg
{
    align-self: center;
    margin-right: 1em;
}


/*----------------------------------------------------------------------------------------------------------------*/
/* Shopping items general/layout style*/
.shopping-items
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 0 20% 4.5rem 20%;
}

.shopping-items ul
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    list-style: none;
}

.shopping-items ul li
{
    display: flex;
    flex-direction: column;
    
    margin: 0 1em;
}

.shopping-items ul li picture
{
    order: -1;
}

.shopping-items ul li *
{
    margin: 0.2em 0;
}

/*-------------------------------------------*/
/* remove arrows from number input */
.shopping-items input::-webkit-outer-spin-button,
.shopping-items input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shopping-items input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/*-------------------------------------------*/
/* Shopping items styling */
.shopping-items h2
{
    text-align: center;
}

.shopping-items ul li img
{
    width: 100%;
    height: auto;
    min-width: 12em;
    object-fit: cover;

    aspect-ratio: 1;

    border-radius: 6px;    
}

.shopping-item-price-value
{
    color: var(--light-brown-color);
}

.shopping-items input[type=number] {
    text-align: center;
    width: fit-content;
    border: 2px solid var(--border-gray-color);
}

.shopping-items input[type="submit"]
{
    font-size: 1.125rem;
    
    width: fit-content;
    padding: 0.5em 1em;
}



/*----------------------------------------------------------------------------------------------------------------*/
/* Restaurants general/layout style*/
.restaurants
{
    display: grid;
    justify-content: center;
    margin: 0 20%;
}

.restaurants-title
{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}


/*-------------------------------------------*/
/*show more button*/
.restaurants button:last-child
{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;

    width: fit-content;
    height: fit-content;

    padding: 0.5em 1em;
}

/*-------------------------------------------*/
/*scroll left*/
.restaurants-list li:first-child::before
{
    font-family: "Material Icons";
    content: "\e5c4";
    position: absolute;
    top: 50%;
    left: -1em;    
}

/*scroll right*/
.restaurants-list li:last-child::after
{
    font-family: "Material Icons";
    content: "\e5c8";
    position: absolute;
    top: 50%;
    left: calc(100% - 1em);
}

/*scroll right/left basic style*/
.restaurants-list li:last-child::after,
.restaurants-list li:first-child::before
{
    font-size: 2em;
    color: var(--medium-gray-color);
    background-color: white;

    text-align: center;
    vertical-align: middle;

    line-height: 2em;
    width: 2em;
    height: 2em;

    border-radius: 50%;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);    
}

.restaurants-list li:last-child:hover:after,
.restaurants-list li:first-child:hover:before
{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/*-------------------------------------------*/
/* Restaurants list style (contains image and logo */
.restaurants-list
{
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2em;

    position: relative;
    margin: 1em 0;  

    list-style: none;   
}

.restaurants-list li
{
    display: flex;
    flex-direction: column; 

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px; 
}


.restaurants-list li img
{
    width: 100%;
    min-width: 12em;
    object-fit: cover;
}

.restaurants-list li svg
{
    width: 100%;
    height: 100%;
}




/*----------------------------------------------------------------------------------------------------------------*/
/* Brand partner ad general/layout style*/
.brand-partner-ad
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background: #F2F4FA;

    padding: 5.5rem 0;
}

.brand-partner-ad-text
{
    grid-column: 1;
    justify-self: end;

    margin-left: 2em;
}

.brand-partner-ad-form
{
    grid-column: 2;
    align-self: center;

    padding-left: 6rem;
}

.brand-partner-ad-form input[type=submit]
{
    margin: 1em 0;
}

.brand-partner-ad-form input[type=submit]
{
    width: 7em;
    height: 4rem;
}

.brand-partner-ad-form input[type=text]
{
    background: white;
    width: 20em;
    height: 4rem;

    padding-left: 1em;
    margin-right: 1em;
    
    border: 0;
    border-radius: 6px;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
}




/*----------------------------------------------------------------------------------------------------------------*/
/* Map general/layout style*/
.map
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 0 15%;
}

.map-text
{
    grid-column: 1 / 2;
    align-self: center;
    justify-self: end;

    margin-right: 2%;
}

.map-visual
{
    grid-column: 2 / 3;

    width: 100%;
    min-width: 35rem;
}




/*----------------------------------------------------------------------------------------------------------------*/
/* Features general/layout style*/
.features
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin: 0 14%;
    padding: 2% 10%;
    
    min-width: calc(28% + 4*9em); /*margin(left+right) - width of all list elements, used so that the background doesn't shring beyond that point*/

    background: #F2F4FA;
    list-style: none;
}

/*feature items contain icon(svg) and text(span)*/
.features li
{
    display: flex;
    flex-direction: column;
}

.features li svg,
.features li span
{
    align-self: center;
}

.features li span
{
    font-size: 1.5rem;
    font-weight: bold;
}

.features li svg
{
    width: 100%;
    min-width: 9em;
}




/*----------------------------------------------------------------------------------------------------------------*/
/* Instagram block general/layout style*/
.instagram-block
{
    display: flex;
    flex-direction: column;

    margin: 0 20%;
}

.instagram-block-images
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.instagram-block-images img
{    
    width: 100%;
    min-width: 12em;
    aspect-ratio: 1;
    object-fit: cover;

    padding: 0.6rem;
}

.instagram-img1
{
    grid-column: 1;
}

.instagram-img2
{
    grid-column: 2;
}

.instagram-img3
{
    grid-column: 3;
}

.instagram-img4
{
    grid-column: 4;
}

/*-------------------------------------------*/
/* Instagram block font styles */
.instagram-block h2 span
{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: initial;
}




/*----------------------------------------------------------------------------------------------------------------*/
/* Footer general/layout style*/
.footer-content
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 0 10%;
}

/*footer social media contains logo(svg), line(hr) and a list of social media icons/links
contained in "footer-social-media-links"*/
.footer-social-media hr
{
    width: 50%;
}

.footer-social-media-links
{
    display: flex;
    flex-direction: row;

    list-style: none;
}

.footer-social-media-links li
{
    margin-right: 2em;
}

.footer-social-media-links li a svg
{
    width: 2.3em;
    height: auto;
}

/*footer navigation contains two lists, first (about us, price list and contact)
the second (privacy policy, terms of use and copyright)*/ 
.footer-navigation
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-navigation ul
{
    display: flex;
    flex-direction: row;

    align-self: flex-end;

    list-style: none;
}

.footer-navigation ul:nth-child(1) li
{   
    margin: 0 10em 0 5em;
    white-space: nowrap;
}

.footer-navigation ul:nth-child(1) li:last-child
{   
    margin-right: 0;
}

.footer-navigation ul:nth-child(2) li
{   
    margin-right: 4rem;
}

.footer-navigation ul:nth-child(2) li:last-child
{   
    margin: 0;
}

/*-------------------------------------------*/
/* Footer font styles */
.footer-navigation ul li a
{   
    text-decoration: none;
}

.footer-navigation ul:nth-child(1) li a
{   
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--medium-gray-color);
}

.footer-navigation ul:nth-child(2) li
{   
    font-size: 1rem;
    color: black;
}








/*--------------------------------------------------------------------------------------*/
/* Responsive layouts for different screen sizes */

@media (max-width: 1127px)
{
    /*landing content text smaller left margin*/
    .landing-content-text
    {
        margin-left: 15%;
        margin-right: 5%;
    }

    /*features block smaller left/right margin*/
    .features
    {
        margin: 0 7%;
        padding: 2% 10%;
        min-width: calc(14% + 4*9em); /*margin(left+right) - width of all list elements, used so that the background doesn't shring beyond that point*/
    }

    /*instagram block smaller left/right margin*/
    .instagram-block
    {
        margin: 0 15%;
    }

    /*footer navigation smaller space between elemetns*/
    .footer-navigation ul:nth-child(1) li
    {   
        margin: 0 5em 0 5em;
        white-space: nowrap;
    }
}


@media (max-width: 966px)
{
    /*smaller margin between sections*/
    body > *
    {
        margin: 2.5rem 0;
    }

    /*landing content different layout*/
    .landing-content
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
    }

    .landing-content-text
    {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: center;
        text-align: center;

        margin: 0 5%;
    }

    .landing-content-buttons
    {
        justify-self: center;

        margin: 2em 0;
    }

    .landing-content-buttons button:first-child
    {   
        margin-right: 1em;
    }

    
    .landing-content-image
    {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;

        width: 80%;
        max-width: 40rem;
        aspect-ratio: 1;

        margin: 3% 0;
    }

    /*shopping items list split into two rows*/
    .shopping-items ul
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .restaurants-list
    {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1em; 
    }

    /*scroll left moved*/
    .restaurants-list :first-child::before
    {
        top: 45%;    
    }
    /*scroll right moved*/
    .restaurants-list :last-child::after
    {
        top: 45%;
    }

    /*map text and image set in rows*/
    .map
    {
        grid-template-columns: 1fr;
    
        margin: 0 15%;
    }
    
    .map-text
    {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: center;

        text-align: center;
    }
    
    .map-visual
    {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        align-self: center;
        justify-self: center;

        min-width: 35rem;

        padding: auto;
        margin-top: -3em;;
    }
 
    /*featuers block split into two rows*/
    .features
    {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);        

        min-width: calc(14% + 2*9em);/*margin(left+right) - width of all list elements, used so that the background doesn't shring beyond that point*/
    }

    /*instagram block split into two rows*/
    .instagram-block h2
    {
        text-align: center;
    }

    .instagram-block-images
    {
        grid-template-columns: repeat(2, 1fr);
        align-self: center;
    }

    .instagram-img1,
    .instagram-img3
    {
        grid-column: 1;
    }

    .instagram-img2,
    .instagram-img4
    {
        grid-column: 2;
    }

    /*footer different layout*/
    .footer-content
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);

        margin: 0 20%;
    }

    .footer-social-media
    {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }

    .footer-navigation
    {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .footer-social-media hr
    {
        display: none;
    }

    .footer-social-media-links li
    {
        margin-left: 2em;
        margin-right: 0;
    }

    .footer-navigation ul:nth-child(1)
    {
        display: flex;
        flex-direction: row;
        align-self: center;

        list-style: none;
    }

    .footer-navigation ul:nth-child(1) li
    {   
        margin-left: auto;
        white-space: nowrap;
    }

    .footer-navigation ul:nth-child(1) li:last-child
    {   
        margin-right: 0;
    }

    .footer-navigation ul:nth-child(2)
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1em;
        align-self: center;

        margin-top: 1em;
    }

    .footer-navigation ul:nth-child(2) li
    {   
        margin-right: auto;
    }

    .footer-navigation ul:nth-child(2) li:last-child
    {   
        grid-column: 1 / 3;
        justify-self: center;
    }
}



@media (max-width: 715px)
{
    html
    {
        font-size: 12px !important
    }

    .header-bar
    {
        margin: 0 5%;
    }

    .map
    {
        margin: 0 5%;
    }

    .footer-content
    {
        margin: 0 5%;
    }
}



@media (max-width: 537px)
{
    .delivery-info
    {
        margin: 0 1rem;
        padding: 1rem;
    }

    /*brand partner ad in rows*/
    .brand-partner-ad
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .brand-partner-ad-text
    {
        text-align: center;

        margin-left: 0;
    }

    .brand-partner-ad-form
    {
        grid-column: 2;
        align-self: center;

        padding-left: 0;
    }

    .brand-partner-ad-form
    {
        display: flex;
        flex-direction: column;

        margin-top: 1em;
    }

    .brand-partner-ad-form input[type=submit]
    {
        align-self: center;

        margin: 1em 0;
    }

    .brand-partner-ad-form input[type=submit]
    {
        width: 7em;
        height: 4rem;
    }

    .brand-partner-ad-form input[type=text]
    {
        align-self: center;

        margin-right: 0;
    }

}



@media (max-width:470px)
{

    .heading1
    {
        font-size: 3.5rem;
    }



    /*header bar different layout, now in two rows*/
    .header-bar ul
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr auto;
        row-gap: 1em;
    }

    .header-menu-icon
    {
        grid-column: 1 / 2;
        grid-row: 2 / 3;

    }

    .header-logo
    {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .header-login-and-shop
    {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .landing-content-image
    {
       min-width: 17em;
    }

    /*shopping cart dropdown set back to one column
    !!! without this it splits into two columns for some reason*/
    .shopping-cart-dropdown ul
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    /*delivery info different layout, now in 1 column*/
    .delivery-info
    {
        display: flex;
        flex-direction: column;
        list-style: none;
        width: fit-content;

        margin: 0 2rem;
        margin-top: -3%;
        padding: 1em 3em;

        box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
    }

    .delivery-info li
    {
        margin: 0.5em 0;
    }

    /*shopping items list put into one row*/
    .shopping-items ul
    {
        grid-template-columns: repeat(1, 1fr);
    }

    /*restaurant list split into one rows*/
    .restaurants-list
    {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 1em; 
    }

    /*scroll up*/
    .restaurants-list :first-child::before
    {
        top: calc(0% - 1em);
        left: calc(50% - 1em);
        transform: rotate(90deg);    
    }
    /*scroll down*/
    .restaurants-list :last-child::after
    {
        top: calc(100% - 1em);
        left: calc(50% - 1em);
        transform: rotate(90deg);
    }


    .map
    {
        margin: 0;
    }

    .map-visual
    {
        min-width: 1em;
        margin: -6em 0;
    }


    /*features different layout, now in 1 column*/
    .features
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        margin: 0;
        padding: 1em 0;
        background: #F2F4FA;
        list-style: none;
        min-width: 0; /*margin(left+right) - width of all list elements, used so that the background doesn't shring beyond that point*/
    }

    .features li
    {
        display: flex;
        flex-direction: column;
    }

    .features li svg,
    .features li span
    {
        align-self: center;
    }

    .features li span
    {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .features li svg
    {
        width: 100%;
        min-width: 9em;
    }


    /*footer different layout, more items put into 1 column*/
    .footer-social-media
    {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-self: center;
    }

    .footer-social-media svg
    {
        align-self: center;
    }

    .footer-navigation
    {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .footer-social-media hr
    {
        display: inline;
        width: 100%;
    }

    .footer-social-media-links
    {
        align-self: center;
    }

    .footer-social-media-links li
    {
        margin: 0 1em;
    }    

    .footer-navigation ul:nth-child(1)
    {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer-navigation ul:nth-child(1) li
    {   
        margin: 0;
        padding: 0;
        align-self: center;
    }


}
